/* postion relative makes its children relative */
html , body{

    height: 100%;
    widht: 100%;
}
#main{
    height: 100%;
    width:100%;
    /* background-color: lightblue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



}
.elem{
    height: 50vh;
    width: 25vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
}
.elem img{

    height: 350px;
    width: 350px;
    scale: 0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all linear 0.2s;

}
.elem h1{
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    mix-blend-mode: difference;
   

}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background-color: #000;
    opacity: 0;
    
}
#cursor{
    height: 12px;
    width: 12px;
    color: black;
    background-color: rgb(168, 93, 93);
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    transition: all linear 0.1s ;
}